.homepageButton {
    margin: 2vh !important;
}

.feedbackGrid {
    margin-left: 1vw;
    display: grid;
    grid-template-columns: 98vw;
}

/* Header */
.feedbackGridHeader {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 5vh;
    margin-top: 4vh;
}

.feedbackGridHeaderItem {
    align-self: center;
}

.feedbackGridHeaderItemTitle {
}

.feedbackGridHeaderItemButton {
    justify-self: end;
}

/* Video */
.feedbackGridVideo {
    height: 47vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 48.5vw 48.5vw;
    column-gap: 1vw;
}

.feedbackGridVideoItem {
}

/* Viewer */
.feedbackGridViewer {
    height: 32vh;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 48.5vw 48.5vw;
    column-gap: 1vw;
}

.feedbackGridViewerItem {
}

.feedbackText {
    margin-bottom: 1vh;
}

/* Controller */
.feedbackGridController {
    display: grid;
    height: 9vh;
}

.feedbackGridControllerItem {
    justify-self: center;
}